{% extends "blog/base.html" %}
{% block content %}
  <div id="cal-livestream-header">
    LIVESTREAMS AND EVENTS
  </div>
<!-- A simple calendar for monthly events-->
  <div class="cal-body">
    <div class="calendar">
      <div class="cal-date">
        <h3 class="cal-header">Live Events This Month</h3>
        <div class="cal-days">
          <div class="cal-day">Sun</div>
          <div class="cal-day">Mon</div>
          <div class="cal-day">Tue</div>
          <div class="cal-day">Wed</div>
          <div class="cal-day">Thu</div>
          <div class="cal-day">Fri</div>
          <div class="cal-day">Sat</div>
          <div class="cal-num"></div>
          <div class="cal-num"></div>
          <div class="cal-num"></div>
          <div class="cal-num">1</div>
          <div class="cal-num">2</div>
          <div class="cal-num">3</div>
          <div class="cal-num">4</div>
          <div class="cal-num active">5</div>
          <div class="cal-num">6</div>
          <div class="cal-num">7</div>
          <div class="cal-num">8</div>
          <div class="cal-num">9</div>
          <div class="cal-num">10</div>
          <div class="cal-num">11</div>
          <div class="cal-num">12</div>
          <div class="cal-num">13</div>
          <div class="cal-num">14</div>
          <div class="cal-num">15</div>
          <div class="cal-num">16</div>
          <div class="cal-num">17</div>
          <div class="cal-num">18</div>
          <div class="cal-num">19</div>
          <div class="cal-num">20</div>
          <div class="cal-num">21</div>
          <div class="cal-num">22</div>
          <div class="cal-num">23</div>
          <div class="cal-num">24</div>
          <div class="cal-num">25</div>
          <div class="cal-num">26</div>
          <div class="cal-num">27</div>
          <div class="cal-num">28</div>
          <div class="cal-num">29</div>
          <div class="cal-num">30</div>
          <div class="cal-num">31</div>
        </div>
        <button class="cal-event">[10:00 A.M.] Beverly Cheng: Full Body Workout</button>
        <button class="cal-event">[03:00 P.M.] Tasty: 7 Healthy And Low Carb Recepies</button>
      </div>
      <div class="cal-image">
        <img src="../../../media/img/profiles/BeverlyCheng.png">
      </div>
    </div>
  </div>
{% endblock %}  
