{% extends "blog/base.html" %}
{% block content %}

<div class="postdetail-post">
  <article class="media content-section">
    <img class="home-pfpimg" src="../../../media/profile_pics/soccer.jpg">
    <div class="media-body">
      <div class="article-metadata headtext">
        <small class="postdetail-author" >IsshanaM</small>
        <small class="text-muted">July 5, 2020</small>
      </div>
      <h2 class="postdetail-title" >Healthy breakfast Idea! Blueberry Pancakes from scratch! (Gluten-free)</h2>
      <p class="article-content">I just watched this video and it helps me and my family eat healthy while not sacrificing the taste of tasty pancakes.</p>
      <iframe class="video" width="692" height="390" src="https://www.youtube.com/embed/CbMgqXQk7wU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </article>
</div> 
<div class="postdetail-post">
  <article class="media content-section">
    <img class="home-pfpimg" src="../../../media/profile_pics/girl6.png">
    <div class="media-body">
      <div class="article-metadata headtext">
        <small class="postdetail-author" >SashaS</small>
        <small class="text-muted">July 5, 2020</small>
      </div>
      <h2 class="postdetail-title" >The BEST Ab Workout EVER</h2>
      <p class="article-content">Guys... I just tried Chloe Ting's new Ab workout and IT. IS. INTENSE.I have no more to say, you guys HAVE TO TRY IT!</p>
      <iframe  class ="video" width="560" height="315" src="https://www.youtube.com/embed/ge1ALhE-Fqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </article>
</div> 
<div class="postdetail-post">
  <article class="media content-section">
    <img class="home-pfpimg" src="../../../media/profile_pics/boy5.png">
    <div class="media-body">
      <div class="article-metadata headtext">
        <small class="postdetail-author" >WillJay</small>
        <small class="text-muted">July 5, 2020</small>
      </div>
      <h2 class="postdetail-title" >A Good Starter Workout</h2>
      <p class="article-content">Hey guys. I've always dreamed of acheiving my ideal body. I honestly didn't know which direction to step into until I found Fraser Wilson's Workout programs. If you are also a beginner I highly suggest watching his videos since they are all body-weight and no equipment is needed.</p>
      <iframe class ="video" width="560" height="315" src="https://www.youtube.com/embed/UoC_O3HzsH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </article>
</div> 
<div class="postdetail-post">
  <article class="media content-section">
    <img class="home-pfpimg" src="../../../media/profile_pics/girl1.jpg">
    <div class="media-body">
      <div class="article-metadata headtext">
        <small class="postdetail-author" >EmilyTrack</small>
        <small class="text-muted">July 5, 2020</small>
      </div>
      <h2 class="postdetail-title" >Amazing NO-GYM Full Body Workout</h2>
      <p class="article-content">Was feeling a bit down since the gyms have been closed for so long until I found Allblanc's channel.</p>
      <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Tz9d7By2ytQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </article>
</div> 
<div class="postdetail-post">
  <article class="media content-section">
    <img class="home-pfpimg" src="../../../media/profile_pics/girl5.jpg">
    <div class="media-body">
      <div class="article-metadata headtext">
        <small class="postdetail-author" >VelvetRoses</small>
        <small class="text-muted">July 5, 2020</small>
      </div>
      <h2 class="postdetail-title" >What's the ultimate guide to a healthy life</h2>
      <p class="article-content">The common-sense, short version for basic, good health is as follows:
        Eat diversely: not the same thing every day. Also eat fruits and vegetables as much as possible. Don't eat more than feels good, though.
        Exercise. The more the better, but three hours total every week is a good minimum to go for. An exercise is good if you break a sweat doing it.
        Sleep enough and consistently. 8 hours minimum. Getting your pattern to hold even during weekends will make Mondays significantly more pleasant.
        Brush teeth twice every day and floss once.
        Have healthy, strong relationships with people. Having good friends is the foundation of a good mental health.
        </p>
      
    </div>
  </article>
</div> 
  
{% endblock%}