{% extends "blog/base.html" %}

{% block content %}

  {% if is_paginated %}
  <div class="pagin-marg">
    {% if page_obj.has_previous %}
      <a class="pagin-btn" href="?page=1">First</a>
      <a class="pagin-btn" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
  
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="pagin-btn active" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="pagin-btn" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
  
    {% if page_obj.has_next %}
      <a class="pagin-btn" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="pagin-btn" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  </div>
  {% endif %}
  
  {% for post in posts %}
  <div class="postdetail-post">
      <article class="media content-section">
        <img class="home-pfpimg" src="{{ post.author.profile.image.url}}">
        <div class="media-body">
          <div class="article-metadata headtext">
            <a class="postdetail-author" href="{%url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
          </div>
          <h2><a class="postdetail-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    </div> 
  {% endfor %}

    {% if is_paginated %}
    <div class="pagin-marg">
      {% if page_obj.has_previous %}
        <a class="pagin-btn" href="?page=1">First</a>
        <a class="pagin-btn" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="pagin-btn active" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="pagin-btn" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="pagin-btn" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="pagin-btn" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
    {% endif %}

{% endblock content %}