{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="passresetconf-content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="passresetconf-title">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="passresetconf-resetbtn" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}