  {% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="register-content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="register-title">Join 
                    <img class="login-logo" src="../../../media/img/logoshadow.png">
                    Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="register-signupbtn" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}